* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("assets/img/backgroundgenshin.jpg");
  background-color: #171333;
  overflow: hidden;
  margin: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.h1 {
  width: 100%;
}

.h1Txt {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255, 0.68);
  font-size: 5em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 1rem;
  font-style: italic;
}
.btnAccueil {
  position: absolute;
  left: 47%;
  top: 70vh;
  background-color: #6ea2d2b7;
  color: white;
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
}
#btnAccueil {
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.homeBg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.characters {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 100px;
  justify-content: space-around;
}
.firstCharacter,
.secondCharacter {
  width: 400px;
  height: 60vh;
  background-color: transparent;
}
.firstCharacter:hover,
.secondCharacter:hover {
  transition: 1s ease;
  transform: scale(1.1);
  cursor: pointer;
}
.firstCharacter {
  background-image: url(/assets/img/portrait1.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s ease-out;
  transform: scale(1);
}
.secondCharacter {
  background-image: url(/assets/img/portrait2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s ease-out;
  transform: scale(1);
}
.question-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 95vh;
  width: 100%;

  button {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: rgba(28, 2, 33, 0.7);
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1rem;

    width: 30%;

    &:hover {
      border: 2px solid white;
      transform: translateY(-2px);
    }
  }
}

.animate__fadeIn {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: animate__fadeIn;
}

@keyframes animate__fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.question {
  font-size: 1.2em;
  margin-bottom: 10px;
  background-color: rgba(28, 2, 33, 0.4);
  color: white;
  font-weight: bold;
  border-radius: 2rem;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: colum;
  align-items: center;
  justify-content: center;
}

#dialog {
  width: 70%;
  text-align: center;
  padding-top: 3rem;
}

.choices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 10px;
  margin-right: 20px;

  p {
    display: flex;
  }

  img {
    width: 20px;
  }

  .choices-container {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-gap: 1rem;
  }
}

#character {
  font-size: 2.5em;
  font-weight: lighter;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 1rem;
  color: white;
  position: absolute;
  top: 650px;
  border-bottom: 3px solid white;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  padding-bottom: 0.5rem;
  text-align: center;
  width: 80%;
}
